html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

img {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

@media (max-width: 768px) {
  .dawn-text-overlay {
    width: 50vw !important;
  }
  
  .dawn-text-overlay p > span:first-child img {
    height: 44px !important;
  }
  
  .dawn-text-overlay p > span:first-child > span {
    font-size: 44px !important;
  }
  
  .dawn-text-overlay p > span:nth-child(2) {
    font-size: 24px !important;
  }
  
  .dawn-text-overlay p > span:nth-child(3),
  .dawn-text-overlay p > span:nth-child(4) {
    font-size: 16px !important;
  }
  
  .bottom-left-text p > span {
    font-size: 28px !important;
  }
  
  .bottom-left-text a {
    font-size: 12px !important;
  }
}

